.menu__link {
  color: rgba(34, 34, 34, 0.75);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  text-decoration: none;
  margin-right: 48px;
}

.menu__link:first-of-type {
  color: #DAA520;
  font-weight: 800;
}

.menu__link:hover {
  opacity: 80%;
}

.menu__link:last-of-type {
  margin-right: 0;
}